{
 :ports     {:http     {
                        :port               80
                        :low-privilige-port 42380
                        }
             :https    {
                        :port               443
                        :low-privilige-port 42381
                        }
             :iptables true}
 :gain-root {
             :exec         ["sudo" "--stdin"]
             :ask-password true
             }
 :sites     {
             "bastel-proxy.local"         {:files "./"}

             ; Examples
             ; "bastel-proxy.local"           {:files "/home/my-user/some/directory"}
             ; "blog.bastel-proxy.local"      {:proxy-destination "https://gamlor.info"}
             ; "demo.bastel-proxy.local"      {:proxy-destination "http://localhost:8080" :preserve-host false}
             ; "bastel-proxy.local/more"      {:proxy-destination "http://localhost:8081" :preserve-host false}
             }}